<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <title>Automatic House Clearning</title>
  </head>
  <script>
    async function handleSubmit() {
      // get customer id
      const id = document.getElementById("customer_id").value;

      const data = await (
        await fetch(`api/link?userId=${id}`, {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        })
      ).json();

      if (data.status === 200) {
        // set url
        document.getElementById("url").value = data.url;
        navigator.clipboard.writeText(data.url);
        alert("The url is copied in the clipboard");
      } else {
        alert(data.message);
      }
    }
  </script>
  <body style="background: #efefef">
    <a href="https://appmixo.com/" target="_blank"
      ><img
        src="./appmixo.png"
        style="max-width: 110px; margin: -5% 1% -15% 48%"
    /></a>
    <form style="padding: 10%">
      <div class="form-group">
        <label for="holder_name">Customer Id</label>
        <input
          type="text"
          class="form-control"
          id="customer_id"
          aria-describedby="emailHelp"
          placeholder="Ex. sCy_5626372"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll not store these data on our server.</small
        >
      </div>

      <div class="form-group">
        <label for="holder_name">URL</label>
        <input
          type="text"
          class="form-control"
          id="url"
          aria-describedby="emailHelp"
          placeholder="URL"
          disabled
        />
      </div>

      <button type="button" class="btn btn-primary" onclick="handleSubmit()">
        Submit
      </button>
      <br />

      <a href="https://stripe.com" target="_blank">
        <img alt="stripe logo" src="/stripe.svg" style="max-width: 200px" />
      </a>
    </form>
  </body>
</html>
